@charset "utf-8";
/* CSS Document */

#welcome{
	margin-left:20em;
}

#main_wrapper{
	margin-left:15em;
	border:rgba(155,155,155,1.00) solid thin;
	width:65em;
	height:auto;
	border-radius:0.2em;
}

#second_bar{
	margin-top:2em;
	margin-left:1em;
}

.col-sm-6{
	margin-top:2em;
}

#image_upload_preview{
	width:10em;
	height:10em;
	border:gray solid thin;
	margin-bottom:0.5em;
}

#image_upload{
	margin-left:45em;
	margin-top:1em;
}

#save_profile{
	background-color:rgba(70,68,68,1.00);
	margin-left:1em;
	margin-top:1.5em;
	margin-bottom:1.5em;
	color:white;
}

#user_gender{
	margin-left:1em;	
}

#short_bio{
	margin-left:1em;
	width:60%;	
	margin-bottom:1em;
}






