@charset "utf-8";


body{
	margin:0;
	padding:0;
	background-color:gray;
}

/*---------------------------------------------------Top Stripe---------------------------------------------------*/

#top_stripe{
	background:#1b1b1b;
	width:100%;
	height:40px; 
	border-style:solid;
	border-color:#1b1b1b;
}

#search_box{
	margin-left:75%;
	margin-top:0.5%;
	background-color:#000000;
	background:url(../Images/search-icon.png) right no-repeat;
    height:auto;
    font:Ms Sans Serif;
    padding-right:35px;
    color:gray;
    width:200px; 
	margin-bottom:0; 
	border:1px solid gray;  
}

#search_box_form_div{
	display:inline-block;
	width:250px; 
	margin-left:50%;
	margin-top:1%;
}

#registration_nav{
	display:inline-block;
	float:right;
}

#registration_nav ul{
	list-style-type:none;
	float:right;
	padding-right:20px;
}

#registration_nav li{
	display:inline-block;
	margin-left:10px;  
	margin-right:10px; 
	margin-bottom:10px;
}

#registration_nav a{
  text-decoration:none;
  font-size:large; 
  font-weight:bold;
  color:#F8F0F1;
}

#registration_nav li:hover a{
	color:#E81B1F;
}

/*-------------------------------------------------Second Stripe--------------------------------------------------*/

#second_stripe{
	background:#222222;
	width:100%;
	height:77px; 
	border-style:solid;
	border-color:#222222;
	text-decoration:none;
}

#second_stripe:hover #singer_fname{
	color:#FBF7F7;
}

#second_stripe:hover #singer_lname{
	color:#820507;
}

#singer_fname{
	padding-left:12%;
	color:#820507;
	display:inline-block;
	margin-right:0;	
	text-decoration:none;
}

#singer_lname{
	color:#FBF7F7;
	display:inline-block;
	text-decoration:none;	
}

/*---------------------------------------------main navigaton bar--------------------------------------------------------*/
.main{
	background-color:#1b1b1b;	
	width:100%;
	height:74px; 
	border-style:solid;
	border-color:#1b1b1b;
	
}

nav ul{
	list-style-type:none;
	float:right;
	padding-right:20px; 
}

nav li{
	display:inline-block;
	margin:10px; 
}

nav a{
  text-decoration:none;
  font-size:large; 
  font-weight:bold;
  color:#F8F0F1;
}

.this_form{
  font-size:large; 
  font-weight:bold;
  color:#820507;
}

#Nav li:hover a
{
	color:#E81B1F;
}

/*----------------------------------top banner--------------------------------------------*/

#top_banner{
	width:100%;
	height:auto;
}

#top_banner h2{
	background-image:url(../Images/Four/music-four-logo.png);
	width:70%;
	left:15%;
	top:47.5%;
	position:absolute;
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
	margin-top:4em;
	height:300px;
	text-indent:-5000px;
}

.share{
	width:100%;
	bottom:13.3333%;
	position:absolute;
	font-family:Source source-code-pro;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:0.035em;
	margin-left:35em;
	margin-bottom:-10em;
}

.share a{
	display:inline-block;	
	margin-left:1em;	
}

.share a:focus{ /* to remove the dotted blue outline*/
	outline:0;
}

.fbshare img,.tweetshare img,.gPlusShare img{
	border:thick solid white;
	padding-left:1em;
	padding-right:1em;
	padding-top:0.5em;
	padding-bottom:0.5em;	
}

.fbshare:hover img,.tweetshare:hover img,.gPlusShare:hover img{	
	border:thick solid #000000;	
}

.top_banner_img{
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);   
	-moz-filter: grayscale(0%);
	display:block;
}

:hover .top_banner_img{	
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */    
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
	-moz-filter: grayscale(100%);
}

/*-----------------------------------panel section--------------------------------------------------------*/

.panel_group{
	width:100%;
}

.panel_group_menu{
	height:auto;
	width:50%;	
	background-color:black;
	display:inline-block;
	margin:0;
	color:white;
}

.panel_group_menu ul{
	list-style-type:none;
	margin-top:8em;	
}

.panel_group_menu li{
	margin-bottom:3em;	
}

.panel_group_menu span{	
	display:table-cell;
	padding:1em;
	padding-left:4em;
	padding-right:4em;
}

#underlined{
	border-bottom:white solid medium;
}

.hvr-pop{
	color:white;
}

.panel_group_menu ul li a{
	text-decoration:none;	
	margin-left:3em;	
	font-size:2em;
	font-weight:bold;	
}

/*------------------------------------------------------*/

.panel_group_buy{
	display:inline-block;
	float:right;
}

.panel_group_buy_header{
	margin-left:2.5em;
	margin-top:1em;
	font-weight:bold;
	font-size:1.3em;		
}

.title{
	margin-left:2.2em;
}

.buy{
	padding-left:2.5em;
	/*text-decoration:underline;*/
}

.MadeInTheAMCoverPhoto{
	margin-top:2em;
	display:block;
	margin-right:10em;		
}

#underlined_word{
	border-bottom:black solid medium;
}

.purchase_album{
	margin-left:4em;
	margin-right:-5em;
}

.purchase{
	border:black solid thick;
	width:10em;
	padding:1em;
	padding-left:2em;
	padding-right:2em;
	margin-left:-15em;	
	margin-right:15em;
	margin-top:1em;
	text-align:center;
	font-weight:bold;	
}

#OneDStore,#Amazon{
	display:inline-block;
	margin-left:-13em;
}

#Amazon{
	margin-left:-11em;
	margin-right:1em;
}

#ITunes{
	margin-left:8em;
	margin-right:19em;
}

#GooglePlay{
	margin-left:-1em;
	margin-right:1em;
}

#ITunes,#GooglePlay{
	display:inline-block;
	margin-left:-15em;
}

.second_row{
	margin-left:2em;	
}

#OneDStore:hover,#Amazon:hover,#ITunes:hover,#GooglePlay:hover{
	background-color:black;
	border-radius:1em 1em 1em 1em;	
}

#OneDStore:hover a,#Amazon:hover a,#ITunes:hover a,#GooglePlay:hover a{
	color:white;	
}

.purchase_album a{
	color:black;
	text-decoration:none;
}

/*-----------------------------------------------forth stripe-------------------------------------------------------------*/

#forth_stripe{
	background-color:#222222;
	height:68px; 
	width:100%;
	border-style:solid;
	border-color:#222222;	
}

#top_to_page_img{
	margin-left:40%;
	margin-top:15px; 
}

#top{
	float:right;
	margin-left:10px; 
	margin-right:650px; 
	margin-top:22px; 
	color:#F3ECED; 
	clear:right;
}

/*------------------------------------------------------social media connectivity bar-------------------------------------*/

.sub{
	background-color:black;
	width:100%;
	height:92px; 
	border-style:solid;
	border-color:black;
}

#Nav_sub ul{
	list-style-type:none;
	float:right;
	padding-right:20px; 
	margin-left:0;	
}

#Nav_sub{
	height:auto;
	width:940px; 
    margin:auto;		
}
#Nav_sub li{
	display:inline-block;
	margin-top:0;
	padding-top:0;
}

#Nav_sub a{
  margin-top:0;
  text-decoration:none;
  font-size:large; 
  font-weight:bold;
  color:#F8F0F1;
  padding-top:0;
}

/*-----*Highlight parts of an image on mouseover-----------*/

.highlight img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 1;
	opacity: 1;
 }

.highlight:hover img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 0.5;
	opacity: 0.5;
 }

/*--------------------------------------------------------footer--------------------------------------------------------*/
#footer{
	border:#222222;
	border-style:solid;	
    border-width:thin;
	width:100%;
	height:auto;
	background:#222222;	
}

#footer_para{
	height:auto;
	width:auto;
	margin-left:20px; 
}










