body{
	margin:0;
	padding:0;
	background-color:gray;
	margin-top:-12.49em;
}

/*---------------------------------------------------Top Stripe---------------------------------------------------*/

#top_stripe{
	background:#1b1b1b;
	width:100%;
	height:40px; 
	border-style:solid;
	border-color:#1b1b1b;
}

#homePage{
	display:inline-block;
	margin-left:1em;
	margin-top:-0.5em;	    
}

#search_box{
	margin-left:55%;	
	background-color:#000000;
	background:url(../Images/search-icon.png) right no-repeat;
    height:auto;
    font:Ms Sans Serif;
    padding-right:35px;
    color:gray;
    width:200px; 	
	border:1px solid gray;  
}

#search_box_form_div{
	display:inline-block;
	width:250px; 
	margin-left:50%;
}

#registration_nav{
	display:inline-block;
	float:right;
}

#registration_nav ul{
	list-style-type:none;
	float:right;
	padding-right:20px;
}

#registration_nav li{
	display:inline-block;
	margin-left:10px;  
	margin-right:10px; 
	margin-bottom:10px;
}

#registration_nav a{
  text-decoration:none;
  font-size:large; 
  font-weight:bold;
  color:#F8F0F1;
}

#registration_nav li:hover a{
	color:#E81B1F;
}

/*-------------------------------------------------Second Stripe--------------------------------------------------*/

#second_stripe{
	background:#222222;
	width:100%;
	height:77px; 
	border-style:solid;
	border-color:#222222;
	text-decoration:none;
}

#second_stripe:hover #singer_fname{
	color:#FBF7F7;
}

#second_stripe:hover #singer_lname{
	color:#820507;
}

#singer_fname{
	padding-left:12%;
	color:#820507;
	display:inline-block;
	margin-right:0;	
	text-decoration:none;
}

#singer_lname{
	color:#FBF7F7;
	display:inline-block;
	text-decoration:none;	
}

/*---------------------------------------------main navigaton bar--------------------------------------------------------*/
.main{
	background-color:#1b1b1b;	
	width:100%;
	height:65px; 
	border-style:solid;
	border-color:#1b1b1b;
	
}

#Nav ul{
	list-style-type:none;
	float:right;
	padding-right:20px; 
}

#Nav li{
	display:inline-block;
	margin:10px; 
}

#Nav a{
  text-decoration:none;
  font-size:large; 
  font-weight:bold;
  color:#F8F0F1;
}

#Nav li:hover a
{
	color:#E81B1F;
}


/*-----------------------------------------------top banner--------------------------------------------*/

#top_banner img{
    display:block;  /*To remove whitespace around the image*/
}

/*---------------------------------------------product section-----------------------------------------*/
.product{
	width:100%;
	height:auto;
	margin-left:20%;
	margin-top:5em;
}


.product .image{
	display:inline-block;	
}

.product .text{
	display:inline-block;
	float:right;
	margin-right:32%;
	line-height:1.8em;	
	color:white;
	width:40%;
}

.pro_name{
	font-size:2em;
	font-weight:bold;
}

.pro_description,.price,.pro_stock{
	font-size:1.2em;
	font-weight:bold;
	
}

.quantityEnter{
	font-size:1.2em;
	font-weight:bold;
}

.buttons{	
	margin-top:1em;
}

.buy{
	width:200px;
	padding-left:5em;
	padding-right:5em;
	background-color: #dcdcdc;
    border: 1px solid #666;
	border-radius:1em 1em 1em 1em;
}

#go{
	margin-top:1em;
}

.go{
	width:200px;	
	padding-left:5em;
	padding-right:5em;
	background-color: #dcdcdc;
    border: 1px solid #666;
	border-radius:1em 1em 1em 1em;
}

.message_box{
	color:white;
	margin:1em;
	height:auto;	
}

/*----------------------------------------privacy policy bar------------------------------------------------------------*/

.privacy_policy_bar_include li{
	display:inline-block;
}

.privacy_policy_bar_include li a{
	text-decoration:none;
	color:white;
	padding:0.5em;
	border-right:white thin solid;
}

.terms{
	border-left:white thin solid;
}

.privacy_policy_bar_include ul{
	margin-top:30em;
	margin-left:32%;
	clear:both;
}

.privacy_policy_bar_include p{
	color:white;
	margin-left:42%;
	margin-bottom:1em;
}


